@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/jetbrains-mono";

@custom-variant dark (&:is(.dark *));

@theme {
    --font-family-lobster: "LobsterTwo", sans-serif;

    /* --default-font-family: "LobsterTwo", sans-serif; */
}

@font-face {
    font-family: "LobsterTwo";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./../5_shared/assets/fonts/LobsterTwo-Regular.woff2")
        format("woff2");
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
        font-family: var(--font-family-lobster);
    }
}
@layer components {
    .sticky-nav {
        @apply sticky top-0 w-full z-50 border-b bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60;
    }
}
